.homeWrap{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 0%;
    width: 100%;
    position: relative;
}
.homeWrap .upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}
.homeWrap .upper img{
    position: absolute;
    width: 50%;
    left: 50%;
    z-index: -1;
}

.homeWrap .upper h3{
    color: white;
    text-align: center;
    font-size: inherit;
    margin: auto auto 0;
    font-size: 1.5rem;
}

.homeWrap .upper h2{
    color: white;
    font-size: inherit;
    text-align: center;
    margin:  0 auto auto;
    font-size: 2.5rem;
}


.catalogue{
    display: block;
    flex-direction: column;    

    width: 100%;
    margin: 0 auto;

}
.catalogue>h2{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    margin: auto 15px;
}
.c-wrap{
    width: 100%;
    overflow-x: auto;
}
.c-wrap.shifting{
    cursor: grab;
}
.c-wrap.shifting>a{
    display: none;
}
.c-wrap::-webkit-scrollbar{
    display: none;
}
.c-content{
    display: flex;
    flex-direction: row;    
    width: 100%;
}

@media screen and (max-width: 800px){
    .homeWrap .upper{
        height: 200px;
    }

}
